/* 
    Created on : May 25, 2017, 10:01:40 PM
    Author     : Ondrej Mihalyi
*/

.reveal {
    font-size: 60px
}

.reveal h1 {
  font-size: 80px; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal .slides section {
    height: 90%;
}

.reveal .slides section.regular .template::before {
    content: "@omihalyi";
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 70%;
}